<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crub de usuarios</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Lista de usuarios</h1>
        <hr>
          <!-- Formulario de búsqueda -->
          <form action="/" method="GET">
            <input type="text" name="search" id="search" placeholder="Buscar por nombre" value="<%= search %>" oninput="this.form.submit()">
        </form>
        <hr>
        <div class="nav">
            <a href="/create"> +  Crear usuario</a>

            <!-- Lista de usuarios -->
             <ul>
                <% users.forEach(user => { %>
                <li>
                    <%= user.name %> - <%= user.email %> - <%= user.age %> 

                    <a href="/edit/<%= user._id %>">editar</a>
                    <a href="/delete/<%= user._id %>">eliminar</a>
                </li>
                <% }); %>
             </ul>
        </div>
       
        
    </div>
</body>
</html>